<!DOCTYPE HTML>
<html>
    <head>
        <title>GPU Resale Tool</title>
    </head>
    <body>
        <form action="/scrape" method="GET">
            enter GPU name 
            <input type="text" name="query">
            <button type="submit">Go</button>
        </form>
    </body>
</html>